/* You can add global styles to this file, and also import other style files */
.modal-content {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 30% !important;
}


@media screen and (max-width: 1366px) and ( min-width: 769px) {
    .modal-content {
    
        width: 50% !important;
    }
}

@media screen and (max-width: 768px) and ( min-width: 641px) {
    .modal-content {
    
        width: 70% !important;
    }
}

@media screen and (max-width: 640px) {
    .modal-content {
    
        width: 90% !important;
    }
}